
@{
    ViewBag.Title = "Islem";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="bg-dark mt-5 mx-auto w-75">
    <div class="card shadow-lg mt-2" style="border:0">
        <div class="card-header bg-dark">
            <h2 class="my-5 text-light text-center">@ViewBag.Islem</h2>
        </div>
        
    </div>
    </div>


