@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Kayıt Ol</title>


    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="~/LoginScript/images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/LoginScript/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/LoginScript/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/LoginScript/fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/LoginScript/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/LoginScript/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/LoginScript/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/LoginScript/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/LoginScript/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/LoginScript/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/LoginScript/css/main.css">
    <!--===============================================================================================-->

    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/style-danger.css" rel="stylesheet" />

</head>
<body>
    <div class="limiter" style="width:100% !important;">
        <div class="container-login100" style="background: linear-gradient(to right, #333333, #e9d362);">
            <div class="wrap-login100 bg-dark">
                <form method="post" class="login100-form validate-form">
                    <span class="login100-form-title p-b-26 text-light">
                        Yeni Hesap
                    </span>
                    <span class="login100-form-title p-b-48  text-light">
                        <i class="fa fa-floppy-o" aria-hidden="true"></i>
                    </span>

                    <div class="wrap-input100 validate-input" data-validate="Kullanıcı adınızı giriniz">
                        <input class="input100 text-light" type="text" name="KullaniciAdi">
                        <span class="focus-input100" data-placeholder="Kullanıcı Adı"></span>
                    </div>

                    <div class="wrap-input100 validate-input" data-validate="Şifrenizi giriniz">
                        <span class="btn-show-pass">
                            <i class="zmdi zmdi-eye" style=""></i>
                        </span>
                        <input class="input100 text-light" type="password" name="Sifre">
                        <span class="focus-input100" data-placeholder="Şifre"></span>
                    </div>

                    <div class="wrap-input100 validate-input" data-validate="Adınızı ve soyadınızı giriniz">
                        <input class="input100 text-light" type="text" name="AdiSoyadi">
                        <span class="focus-input100" data-placeholder="Ad Soyad"></span>
                    </div>

                    <div class="wrap-input100 validate-input" data-validate="Telefon numaranızı giriniz">
                        <input class="input100 text-light" type="text" name="Telefon">
                        <span class="focus-input100" data-placeholder="Telefon"></span>
                    </div>

                    <div class="wrap-input100 validate-input" data-validate="Doğum tarihinizi giriniz">
                        <input class="input100" type="date" name="DogumTarihi">
                        <span class="focus-input100" data-placeholder="Doğum Tarihi" id="date-data"></span>
                    </div>

                    <div class="wrap-input100 validate-input" data-validate="E-mail adresinizi giriniz">
                        <input class="input100 text-light" type="email" name="Email">
                        <span class="focus-input100" data-placeholder="E-mail Adresi"></span>
                    </div>

                    <div class="wrap-input100 validate-input" data-validate="Adres bilginizi giriniz">
                        <input class="input100 text-light" type="text" name="Adres">
                        <span class="focus-input100" data-placeholder="Adres"></span>
                    </div>


                    <div class="container-login100-form-btn">
                        <div class="wrap-login100-form-btn">
                            <div class="login100-form-bgbtn"></div>
                            <button class="login100-form-btn">
                                Kaydol
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!--===============================================================================================-->
    <script src="~/LoginScript/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/LoginScript/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/LoginScript/vendor/bootstrap/js/popper.js"></script>
    <script src="~/LoginScript/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/LoginScript/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/LoginScript/vendor/daterangepicker/moment.min.js"></script>
    <script src="~/LoginScript/vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="~/LoginScript/vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="~/LoginScript/js/main.js"></script>
</body>
</html>

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
